#title
{
    display:block;
    text-align:center;
    padding-top:200px;
    margin-bottom:20px;

    color:#832626;
    font-size:70px;
}

#title span
{
    color:#111546;
}

form
{
    width: 100%;
}

#q
{
    width: 50%;
    margin:auto;
    display:block;
    height:30px;
    padding:5px;
    font-size:20px;
    font-weight:100;
}

#chkbox
{
    text-align:center;
    display:block;
    font-size:20px;
    font-weight:100;

    margin:15px 0;
}

#submit
{
    width:100px;
    height:30px;
    margin:auto;
    display:block;
}