body
{
    padding-bottom: 100px;
}
#title
{
    display:block;
    text-align:center;
    padding:10px;
    margin-bottom:20px;
    font-size:30px;
}

#title a , #title a:focus ,#title a:active ,#title a:hover ,#title a:visited
{
    color:#832626;
}

#title span
{
    color:#111546;
}

#query_show
{
    padding:0 10px;
    font-family:'Segoe UI';
}

#query
{
    font-weight:bold;
}

/*********************************************************/
#all_results
{
    margin:10px;
    padding-left: 5%;
    width:900px;
    font-family:'Segoe UI';
}

.result
{
    margin:30px 0;
	display:none;
}

.result_title
{
    font-size:18px;
    margin-bottom:3px;
}

.result_url
{
    color:#1e8a20;
    font-size:12px;
    font-weight:normal;
    margin-bottom:5px;
}

.result_content
{
    font-size:15px;
    color:#3b3b3b;
}

.result_content span
{
    font-weight:bold;
}
/****************************************************************************/

.pages
{
	margin:10px;
    padding-left: 5%;
    width:900px;
    font-family:'Segoe UI';
	font-size:20px;
}

.shownR
{
	display:block;
}

.pageNumber
{
	display:inline-block;
	width:30px;
	height:30px;
	cursor:pointer;
	text-align: center;
    padding-top: 10px;
}

.currentPage
{
    border-top: solid 2px #832626;
    border-bottom: solid 2px #832626;
    font-weight: bold;
}